* {
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 16px;
}

.title-1 {
    margin: 16px 0;
    font-size: 36px;
    color: #151515;
    font-weight: 700;
    line-height: 150%;
}

.judul {
    font-size: 24px;
    color: #151515;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
}

.whyus-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.banner {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: #FFFFFF;
}

.header {
    margin: 16px 0;
    font-size: 36px;
    color: #151515;
    font-weight: 700;
    line-height: 150%;
}

.description {
    font-size: 14px;
    color: #151515;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 16px;
}

.btn-primary {
    padding: 8px 12px 8px 12px;
    border-radius: 2px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
    background: #5CB85F;
    color: #FFFFFF;
}

.btn-primary:hover {
    background: #3D7B3F;
}

.button-signup {
    margin-left: 32px;
}


/* === Custon Navbar === */

.navbar {
    padding: 25px 0;
    background: #F1F3FF;
}

.navbar .navbar-brand img {
    height: 40px;
    width: 100%;
}

.navbar .navbar-nav .nav-link {
    padding-left: 32px;
    font-weight: 400;
}


/* === Setup main content === */

.home {
    background: #F1F3FF;
    position: relative;
    height: 400px;
    margin-bottom: 50px;
}

.home .hero {
    height: 400px;
}

.service {
    padding: 50px 0;
}

.service ul {
    padding: 0;
    margin-top: 2px;
}

.service ul li {
    list-style: none;
    background: url("assets/images/check.svg") no-repeat left center;
    vertical-align: middle;
    margin-bottom: 8px;
    padding: 8px;
}

.service ul li span {
    padding-left: 36px;
}

.whyus {
    padding: 50px 0;
}

.testi {
    padding: 50px 0;
    overflow: hidden;
}

.banner {
    padding: 50px 0;
}

.faq {
    padding: 50px 0;
}

.img-car {
    width: 704px;
    z-index: 2;
}

@media screen and (max-width: 991px) {
    .img-car {
        display: none;
    }
}

.rectangle {
    position: absolute;
    width: 50%;
    height: 205px;
    background: #0D28A6;
    right: 0;
    top: 195px;
    border-radius: 55px 0 0 0;
    z-index: 1;
}

@media screen and (max-width: 991px) {}

.img-service {
    width: 459px;
}

@media screen and (max-width: 991px) {
    .img-service {
        display: none;
    }
}

.card {
    width: 268px;
    height: 196px;
    margin: 10px 0;
}

.card-body {
    padding: 1.5rem 1.5rem;
}

.card-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

.icon {
    margin-bottom: 16px;
}

.owl-carousel {
    overflow: hidden;
}

.owl-carousel .owl-item img {
    width: auto;
}

.owl-nav {
    margin: 24px 0 0;
    text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    margin: 0 20px;
    height: 32px;
    width: 32px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background: #5CB85F;
    border: none;
}

.bg-testimonial {
    overflow: hidden;
    position: relative;
    background-color: #F1F3FF;
    width: 100%;
    height: 270px;
    border-radius: 8px;
}

.img-testimonial {
    width: 80px;
    height: 80px;
}

.title {
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
}

.star img {
    float: left;
    margin-bottom: 8px;
}

.desc-testi {
    position: relative;
    float: left;
    text-align: left;
    padding-right: 32px;
}

.desc-testi p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 8px;
}

.user-testi {
    position: relative;
    float: left;
    text-align: left;
}

.user-testi p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.bg-biru {
    width: 100%;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
}

.desc-sec-5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 52px;
}

.accordion .accordion-item {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 4px !important;
    overflow: hidden;
}


/* Setup css for footer */

.circle {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background: #0D28A6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 16px;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.list-footer {
    list-style: none;
    padding-left: 0;
}

.list-footer li {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}

.list-footer li a {
    text-decoration: none;
    color: #151515;
}

footer {
    padding: 50px 0;
}


/* === Responsive for small devices === */

@media screen and (max-width: 575px) {
    .card {
        width: 100%;
    }
    .bg-biru {
        height: 450px;
    }
}


/* === Responsive for medium devices === */

@media screen and (max-width: 767px) {
    .card {
        width: 100%;
    }
}


/*# sourceMappingURL=main.css.map */